<configuration>
	<!-- Определяем настройки подключения к базе данных -->	
	<connectionStrings>
		<!-- Добавляем строку подключения с заданным именем -->
		<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyShop;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!-- Указываем поставщика данных (в данном случае SQL Server) -->
	</connectionStrings>
</configuration>